<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.StringTemplate" version="3.4.1.9005" targetFramework="net452" />
  <package id="Autofac" version="4.0.1" targetFramework="net452" />
  <package id="Autofac.Extras.DynamicProxy" version="4.5.0" targetFramework="net452" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net452" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="NPOI" version="2.4.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net452" />
  <package id="Snowflake.Net" version="4.5.2" targetFramework="net452" />
  <package id="Webdiyer.MvcPager" version="3.0.1.1" targetFramework="net452" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net452" />
</packages>