<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.template.mapper.IRobotQrCodePayTaskMapper">
    <resultMap type="IRobotQrCodePayTask" id="IRobotQrCodePayTaskMap">
    	<id property="irTaskID" column="IR_TaskID"/>
		<result property="irOrderNo" column="IR_OrderNo"/>
		<result property="irWeiXinNickName" column="IR_WeiXinNickName"/>
		<result property="irWeiXinHeaderImage" column="IR_WeiXinHeaderImage"/>
		<result property="irQrCodeImagePath" column="IR_QrCodeImagePath"/>
		<result property="irHandleState" column="IR_HandleState"/>
		<result property="irHandleMessage" column="IR_HandleMessage"/>
		<result property="irHandleTime" column="IR_HandleTime"/>
		<result property="irCreateTime" column="IR_CreateTime"/>
		<result property="irReportPicPathJson" column="IR_ReportPicPathJson"/>
		<result property="irTakeMoney" column="IR_TakeMoney"/>
		<result property="irRobotId" column="IR_RobotId"/>
		<result property="irRemark" column="IR_Remark"/>
		<result property="irPushState" column="IR_PushState"/>
		<result property="irPushTime" column="IR_PushTime"/>
		<result property="irScanPayNotifyRet" column="IR_ScanPayNotifyRet"/>
    </resultMap>
    <sql id="colNames">
    	IR_TaskID,
		IR_OrderNo,
		IR_WeiXinNickName,
		IR_WeiXinHeaderImage,
		IR_QrCodeImagePath,
		IR_HandleState,
		IR_HandleMessage,
		IR_HandleTime,
		IR_CreateTime,
		IR_ReportPicPathJson,
		IR_TakeMoney,
		IR_RobotId,
		IR_Remark,
		IR_PushState,
		IR_PushTime,
		IR_ScanPayNotifyRet
    </sql>
    <sql id="insertParamPart">
    	insert into IRobot_QrCodePayTask(
    		<include refid="colNames"></include>
    	)values
    </sql>
    <sql id="insertValPart">
    	(
    		#{irTaskID},
			#{irOrderNo},
			#{irWeiXinNickName},
			#{irWeiXinHeaderImage},
			#{irQrCodeImagePath},
			#{irHandleState},
			#{irHandleMessage},
			#{irHandleTime},
			#{irCreateTime},
			#{irReportPicPathJson},
			#{irTakeMoney},
			#{irRobotId},
			#{irRemark},
			#{irPushState},
			#{irPushTime},
			#{irScanPayNotifyRet}
    	)
    </sql>
    <insert id="insert" parameterType="IRobotQrCodePayTask">
    	<include refid="insertParamPart"></include>
    	<include refid="insertValPart"></include>
    </insert>
	
	<insert id="insertList" parameterType="List">
		<include refid="insertParamPart"></include>
		<foreach collection="list" item="item" index="index" separator=",">
			<include refid="insertValPart"></include>
		</foreach>
	</insert>
	
	<delete id="delete">
		delete from IRobot_QrCodePayTask where IR_TaskID=#{key}
	</delete>
	
	<delete id="deleteList">
		delete from IRobot_QrCodePayTask where IR_TaskID in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach>
	</delete>
	
	
	<delete id="deleteByParams" parameterType="IRobotQrCodePayTaskParams">
		delete from IRobot_QrCodePayTask
		<where>
			<if test="irTaskID!=null">IR_TaskID=#{irTaskID},</if>
			<if test="irOrderNo!=null">IR_OrderNo=#{irOrderNo},</if>
			<if test="irOrderNoLike!=null">IR_OrderNo like '%'+#{irOrderNoLike}+'%',</if>
			<if test="irWeiXinNickName!=null">IR_WeiXinNickName=#{irWeiXinNickName},</if>
			<if test="irWeiXinNickNameLike!=null">IR_WeiXinNickName like '%'+#{irWeiXinNickNameLike}+'%',</if>
			<if test="irWeiXinHeaderImage!=null">IR_WeiXinHeaderImage=#{irWeiXinHeaderImage},</if>
			<if test="irWeiXinHeaderImageLike!=null">IR_WeiXinHeaderImage like '%'+#{irWeiXinHeaderImageLike}+'%',</if>
			<if test="irQrCodeImagePath!=null">IR_QrCodeImagePath=#{irQrCodeImagePath},</if>
			<if test="irQrCodeImagePathLike!=null">IR_QrCodeImagePath like '%'+#{irQrCodeImagePathLike}+'%',</if>
			<if test="irHandleState!=null">IR_HandleState=#{irHandleState},</if>
			<if test="irHandleStateLike!=null">IR_HandleState like '%'+#{irHandleStateLike}+'%',</if>
			<if test="irHandleMessage!=null">IR_HandleMessage=#{irHandleMessage},</if>
			<if test="irHandleMessageLike!=null">IR_HandleMessage like '%'+#{irHandleMessageLike}+'%',</if>
			<if test="irHandleTime!=null">IR_HandleTime=#{irHandleTime},</if>
			<if test="irHandleTimeStart!=null">IR_HandleTime &gt;= #{irHandleTimeStart},</if>
			<if test="irHandleTimeEnd!=null">IR_HandleTime &lt;= #{irHandleTimeEnd},</if>
			<if test="irCreateTime!=null">IR_CreateTime=#{irCreateTime},</if>
			<if test="irCreateTimeStart!=null">IR_CreateTime &gt;= #{irCreateTimeStart},</if>
			<if test="irCreateTimeEnd!=null">IR_CreateTime &lt;= #{irCreateTimeEnd},</if>
			<if test="irReportPicPathJson!=null">IR_ReportPicPathJson=#{irReportPicPathJson},</if>
			<if test="irReportPicPathJsonLike!=null">IR_ReportPicPathJson like '%'+#{irReportPicPathJsonLike}+'%',</if>
			<if test="irTakeMoney!=null">IR_TakeMoney=#{irTakeMoney},</if>
			<if test="irTakeMoneyStart!=null">IR_TakeMoney &gt;= #{irTakeMoneyStart},</if>
			<if test="irTakeMoneyEnd!=null">IR_TakeMoney &lt;= #{irTakeMoneyEnd},</if>
			<if test="irRobotId!=null">IR_RobotId=#{irRobotId},</if>
			<if test="irRobotIdLike!=null">IR_RobotId like '%'+#{irRobotIdLike}+'%',</if>
			<if test="irRemark!=null">IR_Remark=#{irRemark},</if>
			<if test="irRemarkLike!=null">IR_Remark like '%'+#{irRemarkLike}+'%',</if>
			<if test="irPushState!=null">IR_PushState=#{irPushState},</if>
			<if test="irPushStateLike!=null">IR_PushState like '%'+#{irPushStateLike}+'%',</if>
			<if test="irPushTime!=null">IR_PushTime=#{irPushTime},</if>
			<if test="irPushTimeStart!=null">IR_PushTime &gt;= #{irPushTimeStart},</if>
			<if test="irPushTimeEnd!=null">IR_PushTime &lt;= #{irPushTimeEnd},</if>
			<if test="irScanPayNotifyRet!=null">IR_ScanPayNotifyRet=#{irScanPayNotifyRet}</if>
			<if test="irScanPayNotifyRetLike!=null">IR_ScanPayNotifyRet like '%'+#{irScanPayNotifyRetLike}+'%'</if>
		</where>
	</delete>
	
	<select id="findEntity" resultMap="IRobotQrCodePayTaskMap">
		select 
			<include refid="colNames"></include>
		from IRobot_QrCodePayTask where IR_TaskID=#{key}
	</select>
	
	<sql id="selectWherePart">
		<if test="irTaskID!=null">IR_TaskID=#{irTaskID},</if>
		<if test="irOrderNo!=null">IR_OrderNo=#{irOrderNo},</if>
		<if test="irOrderNoLike!=null and irOrderNoLike!=''">IR_OrderNo like '%'+#{irOrderNoLike}+'%',</if>
		<if test="irWeiXinNickName!=null">IR_WeiXinNickName=#{irWeiXinNickName},</if>
		<if test="irWeiXinNickNameLike!=null and irWeiXinNickNameLike!=''">IR_WeiXinNickName like '%'+#{irWeiXinNickNameLike}+'%',</if>
		<if test="irWeiXinHeaderImage!=null">IR_WeiXinHeaderImage=#{irWeiXinHeaderImage},</if>
		<if test="irWeiXinHeaderImageLike!=null and irWeiXinHeaderImageLike!=''">IR_WeiXinHeaderImage like '%'+#{irWeiXinHeaderImageLike}+'%',</if>
		<if test="irQrCodeImagePath!=null">IR_QrCodeImagePath=#{irQrCodeImagePath},</if>
		<if test="irQrCodeImagePathLike!=null and irQrCodeImagePathLike!=''">IR_QrCodeImagePath like '%'+#{irQrCodeImagePathLike}+'%',</if>
		<if test="irHandleState!=null">IR_HandleState=#{irHandleState},</if>
		<if test="irHandleStateLike!=null and irHandleStateLike!=''">IR_HandleState like '%'+#{irHandleStateLike}+'%',</if>
		<if test="irHandleMessage!=null">IR_HandleMessage=#{irHandleMessage},</if>
		<if test="irHandleMessageLike!=null and irHandleMessageLike!=''">IR_HandleMessage like '%'+#{irHandleMessageLike}+'%',</if>
		<if test="irHandleTime!=null">IR_HandleTime=#{irHandleTime},</if>
		<if test="irHandleTimeStart!=null">IR_HandleTime &gt;= #{irHandleTimeStart},</if>
		<if test="irHandleTimeEnd!=null">IR_HandleTime &lt;= #{irHandleTimeEnd},</if>
		<if test="irCreateTime!=null">IR_CreateTime=#{irCreateTime},</if>
		<if test="irCreateTimeStart!=null">IR_CreateTime &gt;= #{irCreateTimeStart},</if>
		<if test="irCreateTimeEnd!=null">IR_CreateTime &lt;= #{irCreateTimeEnd},</if>
		<if test="irReportPicPathJson!=null">IR_ReportPicPathJson=#{irReportPicPathJson},</if>
		<if test="irReportPicPathJsonLike!=null and irReportPicPathJsonLike!=''">IR_ReportPicPathJson like '%'+#{irReportPicPathJsonLike}+'%',</if>
		<if test="irTakeMoney!=null">IR_TakeMoney=#{irTakeMoney},</if>
		<if test="irTakeMoneyStart!=null">IR_TakeMoney &gt;= #{irTakeMoneyStart},</if>
		<if test="irTakeMoneyEnd!=null">IR_TakeMoney &lt;= #{irTakeMoneyEnd},</if>
		<if test="irRobotId!=null">IR_RobotId=#{irRobotId},</if>
		<if test="irRobotIdLike!=null and irRobotIdLike!=''">IR_RobotId like '%'+#{irRobotIdLike}+'%',</if>
		<if test="irRemark!=null">IR_Remark=#{irRemark},</if>
		<if test="irRemarkLike!=null and irRemarkLike!=''">IR_Remark like '%'+#{irRemarkLike}+'%',</if>
		<if test="irPushState!=null">IR_PushState=#{irPushState},</if>
		<if test="irPushStateLike!=null and irPushStateLike!=''">IR_PushState like '%'+#{irPushStateLike}+'%',</if>
		<if test="irPushTime!=null">IR_PushTime=#{irPushTime},</if>
		<if test="irPushTimeStart!=null">IR_PushTime &gt;= #{irPushTimeStart},</if>
		<if test="irPushTimeEnd!=null">IR_PushTime &lt;= #{irPushTimeEnd},</if>
		<if test="irScanPayNotifyRet!=null">IR_ScanPayNotifyRet=#{irScanPayNotifyRet}</if>
		<if test="irScanPayNotifyRetLike!=null and irScanPayNotifyRetLike!=''">IR_ScanPayNotifyRet like '%'+#{irScanPayNotifyRetLike}+'%'</if>
	</sql>
	
	<select id="findEntityByParams" resultMap="IRobotQrCodePayTaskMap">
		select 
			<include refid="colNames"></include>
		from IRobot_QrCodePayTask
		<where>
			<include refid="selectWherePart"></include>
		</where>
		ORDER BY
		<trim suffixOverrides=",">
			<choose>
	    		<when test="params.orderByDesc!=null">    			
			    	<if test="params.orderByDesc.irTaskID">IR_TaskID DESC,</if>
					<if test="params.orderByDesc.irOrderNo">IR_OrderNo DESC,</if>
					<if test="params.orderByDesc.irWeiXinNickName">IR_WeiXinNickName DESC,</if>
					<if test="params.orderByDesc.irWeiXinHeaderImage">IR_WeiXinHeaderImage DESC,</if>
					<if test="params.orderByDesc.irQrCodeImagePath">IR_QrCodeImagePath DESC,</if>
					<if test="params.orderByDesc.irHandleState">IR_HandleState DESC,</if>
					<if test="params.orderByDesc.irHandleMessage">IR_HandleMessage DESC,</if>
					<if test="params.orderByDesc.irHandleTime">IR_HandleTime DESC,</if>
					<if test="params.orderByDesc.irCreateTime">IR_CreateTime DESC,</if>
					<if test="params.orderByDesc.irReportPicPathJson">IR_ReportPicPathJson DESC,</if>
					<if test="params.orderByDesc.irTakeMoney">IR_TakeMoney DESC,</if>
					<if test="params.orderByDesc.irRobotId">IR_RobotId DESC,</if>
					<if test="params.orderByDesc.irRemark">IR_Remark DESC,</if>
					<if test="params.orderByDesc.irPushState">IR_PushState DESC,</if>
					<if test="params.orderByDesc.irPushTime">IR_PushTime DESC,</if>
					<if test="params.orderByDesc.irScanPayNotifyRet">IR_ScanPayNotifyRet DESC,</if>
	    		</when>
	    		<otherwise>
	    			<if test="params.orderByDesc.irTaskID">IR_TaskID DESC,</if>
	    		</otherwise>
	    	</choose>
	    	<if test="params.orderByASC!=null">
		    	<if test="params.orderByASC.irTaskID">IR_TaskID ASC,</if>
				<if test="params.orderByASC.irOrderNo">IR_OrderNo ASC,</if>
				<if test="params.orderByASC.irWeiXinNickName">IR_WeiXinNickName ASC,</if>
				<if test="params.orderByASC.irWeiXinHeaderImage">IR_WeiXinHeaderImage ASC,</if>
				<if test="params.orderByASC.irQrCodeImagePath">IR_QrCodeImagePath ASC,</if>
				<if test="params.orderByASC.irHandleState">IR_HandleState ASC,</if>
				<if test="params.orderByASC.irHandleMessage">IR_HandleMessage ASC,</if>
				<if test="params.orderByASC.irHandleTime">IR_HandleTime ASC,</if>
				<if test="params.orderByASC.irCreateTime">IR_CreateTime ASC,</if>
				<if test="params.orderByASC.irReportPicPathJson">IR_ReportPicPathJson ASC,</if>
				<if test="params.orderByASC.irTakeMoney">IR_TakeMoney ASC,</if>
				<if test="params.orderByASC.irRobotId">IR_RobotId ASC,</if>
				<if test="params.orderByASC.irRemark">IR_Remark ASC,</if>
				<if test="params.orderByASC.irPushState">IR_PushState ASC,</if>
				<if test="params.orderByASC.irPushTime">IR_PushTime ASC,</if>
				<if test="params.orderByASC.irScanPayNotifyRet">IR_ScanPayNotifyRet ASC,</if>
	    	</if> 
    	</trim>
	</select>
	
	<select id="count" resultType="long" parameterType="IRobotQrCodePayTaskParams">
		select count(IR_TaskID) from IRobot_QrCodePayTask
		<where>
			<include refid="selectWherePart"></include>
		</where>
	</select>
	
	<select id="findAllByParams" resultMap="IRobotQrCodePayTaskMap">
		select 
			<include refid="colNames"></include>
		from IRobot_QrCodePayTask
		<where>
			<include refid="selectWherePart"></include>
		</where>
		<if test="orderBy!=null">order by ${orderBy}</if>
	</select>
	
	
	<select id="findListByParams" resultMap="IRobotQrCodePayTaskMap">
		select
			<include refid="colNames"></include>
		from IRobot_QrCodePayTask where IR_TaskID in(
			select b.IR_TaskID from(
			select IR_TaskID,ROW_NUMBER() OVER(Order by
	    	<trim suffixOverrides=",">
				<choose>
		    		<when test="params.orderByDesc!=null">    			
				    	<if test="params.orderByDesc.irTaskID">IR_TaskID DESC,</if>
						<if test="params.orderByDesc.irOrderNo">IR_OrderNo DESC,</if>
						<if test="params.orderByDesc.irWeiXinNickName">IR_WeiXinNickName DESC,</if>
						<if test="params.orderByDesc.irWeiXinHeaderImage">IR_WeiXinHeaderImage DESC,</if>
						<if test="params.orderByDesc.irQrCodeImagePath">IR_QrCodeImagePath DESC,</if>
						<if test="params.orderByDesc.irHandleState">IR_HandleState DESC,</if>
						<if test="params.orderByDesc.irHandleMessage">IR_HandleMessage DESC,</if>
						<if test="params.orderByDesc.irHandleTime">IR_HandleTime DESC,</if>
						<if test="params.orderByDesc.irCreateTime">IR_CreateTime DESC,</if>
						<if test="params.orderByDesc.irReportPicPathJson">IR_ReportPicPathJson DESC,</if>
						<if test="params.orderByDesc.irTakeMoney">IR_TakeMoney DESC,</if>
						<if test="params.orderByDesc.irRobotId">IR_RobotId DESC,</if>
						<if test="params.orderByDesc.irRemark">IR_Remark DESC,</if>
						<if test="params.orderByDesc.irPushState">IR_PushState DESC,</if>
						<if test="params.orderByDesc.irPushTime">IR_PushTime DESC,</if>
						<if test="params.orderByDesc.irScanPayNotifyRet">IR_ScanPayNotifyRet DESC,</if>
		    		</when>
		    		<otherwise>
		    			<if test="params.orderByDesc.irTaskID">IR_TaskID DESC,</if>
		    		</otherwise>
		    	</choose>
		    	<if test="params.orderByASC!=null">
			    	<if test="params.orderByASC.irTaskID">IR_TaskID ASC,</if>
					<if test="params.orderByASC.irOrderNo">IR_OrderNo ASC,</if>
					<if test="params.orderByASC.irWeiXinNickName">IR_WeiXinNickName ASC,</if>
					<if test="params.orderByASC.irWeiXinHeaderImage">IR_WeiXinHeaderImage ASC,</if>
					<if test="params.orderByASC.irQrCodeImagePath">IR_QrCodeImagePath ASC,</if>
					<if test="params.orderByASC.irHandleState">IR_HandleState ASC,</if>
					<if test="params.orderByASC.irHandleMessage">IR_HandleMessage ASC,</if>
					<if test="params.orderByASC.irHandleTime">IR_HandleTime ASC,</if>
					<if test="params.orderByASC.irCreateTime">IR_CreateTime ASC,</if>
					<if test="params.orderByASC.irReportPicPathJson">IR_ReportPicPathJson ASC,</if>
					<if test="params.orderByASC.irTakeMoney">IR_TakeMoney ASC,</if>
					<if test="params.orderByASC.irRobotId">IR_RobotId ASC,</if>
					<if test="params.orderByASC.irRemark">IR_Remark ASC,</if>
					<if test="params.orderByASC.irPushState">IR_PushState ASC,</if>
					<if test="params.orderByASC.irPushTime">IR_PushTime ASC,</if>
					<if test="params.orderByASC.irScanPayNotifyRet">IR_ScanPayNotifyRet ASC,</if>
		    	</if> 
	    	</trim>
			) AS RowId
			from IRobot_QrCodePayTask
			<where>
				<if test="params.irTaskID!=null">IR_TaskID=#{params.irTaskID},</if>
				<if test="params.irOrderNo!=null">IR_OrderNo=#{params.irOrderNo},</if>
				<if test="params.irOrderNoLike!=null and params.irOrderNoLike!=''">IR_OrderNo like '%'+#{params.irOrderNoLike}+'%',</if>
				<if test="params.irWeiXinNickName!=null">IR_WeiXinNickName=#{params.irWeiXinNickName},</if>
				<if test="params.irWeiXinNickNameLike!=null and params.irWeiXinNickNameLike!=''">IR_WeiXinNickName like '%'+#{params.irWeiXinNickNameLike}+'%',</if>
				<if test="params.irWeiXinHeaderImage!=null">IR_WeiXinHeaderImage=#{params.irWeiXinHeaderImage},</if>
				<if test="params.irWeiXinHeaderImageLike!=null and params.irWeiXinHeaderImageLike!=''">IR_WeiXinHeaderImage like '%'+#{params.irWeiXinHeaderImageLike}+'%',</if>
				<if test="params.irQrCodeImagePath!=null">IR_QrCodeImagePath=#{params.irQrCodeImagePath},</if>
				<if test="params.irQrCodeImagePathLike!=null and params.irQrCodeImagePathLike!=''">IR_QrCodeImagePath like '%'+#{params.irQrCodeImagePathLike}+'%',</if>
				<if test="params.irHandleState!=null">IR_HandleState=#{params.irHandleState},</if>
				<if test="params.irHandleStateLike!=null and params.irHandleStateLike!=''">IR_HandleState like '%'+#{params.irHandleStateLike}+'%',</if>
				<if test="params.irHandleMessage!=null">IR_HandleMessage=#{params.irHandleMessage},</if>
				<if test="params.irHandleMessageLike!=null and params.irHandleMessageLike!=''">IR_HandleMessage like '%'+#{params.irHandleMessageLike}+'%',</if>
				<if test="params.irHandleTime!=null">IR_HandleTime=#{params.irHandleTime},</if>
				<if test="params.irHandleTimeStart!=null">IR_HandleTime &gt;= #{params.irHandleTimeStart},</if>
				<if test="params.irHandleTimeEnd!=null">IR_HandleTime &lt;= #{params.irHandleTimeEnd},</if>
				<if test="params.irCreateTime!=null">IR_CreateTime=#{params.irCreateTime},</if>
				<if test="params.irCreateTimeStart!=null">IR_CreateTime &gt;= #{params.irCreateTimeStart},</if>
				<if test="params.irCreateTimeEnd!=null">IR_CreateTime &lt;= #{params.irCreateTimeEnd},</if>
				<if test="params.irReportPicPathJson!=null">IR_ReportPicPathJson=#{params.irReportPicPathJson},</if>
				<if test="params.irReportPicPathJsonLike!=null and params.irReportPicPathJsonLike!=''">IR_ReportPicPathJson like '%'+#{params.irReportPicPathJsonLike}+'%',</if>
				<if test="params.irTakeMoney!=null">IR_TakeMoney=#{params.irTakeMoney},</if>
				<if test="params.irTakeMoneyStart!=null">IR_TakeMoney &gt;= #{params.irTakeMoneyStart},</if>
				<if test="params.irTakeMoneyEnd!=null">IR_TakeMoney &lt;= #{params.irTakeMoneyEnd},</if>
				<if test="params.irRobotId!=null">IR_RobotId=#{params.irRobotId},</if>
				<if test="params.irRobotIdLike!=null and params.irRobotIdLike!=''">IR_RobotId like '%'+#{params.irRobotIdLike}+'%',</if>
				<if test="params.irRemark!=null">IR_Remark=#{params.irRemark},</if>
				<if test="params.irRemarkLike!=null and params.irRemarkLike!=''">IR_Remark like '%'+#{params.irRemarkLike}+'%',</if>
				<if test="params.irPushState!=null">IR_PushState=#{params.irPushState},</if>
				<if test="params.irPushStateLike!=null and params.irPushStateLike!=''">IR_PushState like '%'+#{params.irPushStateLike}+'%',</if>
				<if test="params.irPushTime!=null">IR_PushTime=#{params.irPushTime},</if>
				<if test="params.irPushTimeStart!=null">IR_PushTime &gt;= #{params.irPushTimeStart},</if>
				<if test="params.irPushTimeEnd!=null">IR_PushTime &lt;= #{params.irPushTimeEnd},</if>
				<if test="params.irScanPayNotifyRet!=null">IR_ScanPayNotifyRet=#{params.irScanPayNotifyRet}</if>
				<if test="params.irScanPayNotifyRetLike!=null and irScanPayNotifyRetLike!=''">IR_ScanPayNotifyRet like '%'+#{params.irScanPayNotifyRetLike}+'%'</if>
			</where>) b
			where b.RowId between (#{currentPageIndex}-1)*#{pageSize}+1 and #{currentPageIndex}*#{pageSize}
		)
	</select>
	
	<update id="updateAll" parameterType="IRobotQrCodePayTask">
		update IRobot_QrCodePayTask set
			IR_OrderNo=#{irOrderNo},
			IR_WeiXinNickName=#{irWeiXinNickName},
			IR_WeiXinHeaderImage=#{irWeiXinHeaderImage},
			IR_QrCodeImagePath=#{irQrCodeImagePath},
			IR_HandleState=#{irHandleState},
			IR_HandleMessage=#{irHandleMessage},
			IR_HandleTime=#{irHandleTime},
			IR_CreateTime=#{irCreateTime},
			IR_ReportPicPathJson=#{irReportPicPathJson},
			IR_TakeMoney=#{irTakeMoney},
			IR_RobotId=#{irRobotId},
			IR_Remark=#{irRemark},
			IR_PushState=#{irPushState},
			IR_PushTime=#{irPushTime},
			IR_ScanPayNotifyRet=#{irScanPayNotifyRet}
		where IR_TaskID=#{irTaskID}
	</update>
	
	<update id="updateChange" parameterType="IRobotQrCodePayTask">
		update IRobot_QrCodePayTask
		<set>
			<if test="irOrderNo!=null">IR_OrderNo=#{irOrderNo},</if>
			<if test="irWeiXinNickName!=null">IR_WeiXinNickName=#{irWeiXinNickName},</if>
			<if test="irWeiXinHeaderImage!=null">IR_WeiXinHeaderImage=#{irWeiXinHeaderImage},</if>
			<if test="irQrCodeImagePath!=null">IR_QrCodeImagePath=#{irQrCodeImagePath},</if>
			<if test="irHandleState!=null">IR_HandleState=#{irHandleState},</if>
			<if test="irHandleMessage!=null">IR_HandleMessage=#{irHandleMessage},</if>
			<if test="irHandleTime!=null">IR_HandleTime=#{irHandleTime},</if>
			<if test="irCreateTime!=null">IR_CreateTime=#{irCreateTime},</if>
			<if test="irReportPicPathJson!=null">IR_ReportPicPathJson=#{irReportPicPathJson},</if>
			<if test="irTakeMoney!=null">IR_TakeMoney=#{irTakeMoney},</if>
			<if test="irRobotId!=null">IR_RobotId=#{irRobotId},</if>
			<if test="irRemark!=null">IR_Remark=#{irRemark},</if>
			<if test="irPushState!=null">IR_PushState=#{irPushState},</if>
			<if test="irPushTime!=null">IR_PushTime=#{irPushTime},</if>
			<if test="irScanPayNotifyRet!=null">IR_ScanPayNotifyRet=#{irScanPayNotifyRet},</if>
		</set>
		where IR_TaskID=#{irTaskID}
	</update>
</mapper>